/******GENERAL******/
*{
    margin: 0px;
    border: 0px;
    padding: 0px;
    background-color: cornsilk;
}


h1, h2, h3, p, header{
    color:mediumvioletred;
    font-family: 'Asset', cursive;
    font-family: 'Gayathri', sans-serif;
}


p, div, section, select, form, #btn{
    font-size: large;
    color: black;
    font-family: 'Asset', cursive;
    font-family: 'Gayathri', sans-serif;
    text-align: justify;
}


div{
    width: 50%;
    font-size: 20px;
    float: left;
}


h1{
    padding-top: 30px;
}


h2{
    text-align: center;
}


h2, h3{
    padding-top: 20px;
}


p{
    padding-top: 50px;
    padding-left: 8px;
    padding-right: 8px;
    font-size: 15px;
}



/*CAJAS 1 PÁGINA*/
.caja1{
    position: static;
    height: 80%;
}

.caja2{
    height: 80%;
}

.caja3{
    width: 100%;
}

.caja4{
    height: 300px;
}

.caja5{
    height: 300px;
}

.caja6{
    width: 100%;
    height: 60px;
}

.caja7{
    width: 100%;
    height: 50%;
}

.caja8{
    width: 100%;
    height: 70px;
}

.caja9{
    width: 30%;
    height: 300px;
}

.caja10{
    width: 20%;
    height: 300px;
}

.caja11{
    width: 30%;
    height: 300px;
}

.caja12{
    width: 20%;
    height: 300px;
}

.caja13{
    width: 100%;
    height: 50px;
}

.caja14{
    width: 70%;
    height: 350px;
}

.caja15{
    width: 30%;
    height: 350px;
}

.caja16{
    width: 20%;
    height: 50px;
}

.caja17{
    width: 60%;
    height: 50px;
}

.caja18{
    width: 20%;
    height: 50px;
    text-align: center;
}


/*CAJAS 2 PÁGINA*/
.caja20{
    width: 100%;
    text-align: center;
}

.caja21{
    width: 100%;
    text-align: center;
}

.caja22{
    width: 100%;
}

.caja23{
    width: 50%;
    text-align: center;
    margin-top: 20px;
}

.caja24{
    width: 50%;
    text-align: center;
    margin-top: 20px;
}

.caja25{
    width: 40%;
    padding-left: 80px;
    padding-right: 80px;
}

.caja26{
    width: 40%;
    padding-left: 20px;
}

.caja27{
    width: 50%;
}

.caja28{
    width: 50%;
}

.caja29{
    width: 50%;
    height: 30%;
    margin-top: 20px;
}

.caja30{
    width: 50%;
    height: 30%;
    margin-top: 20px;
}

.caja31{
    width: 100%;
    margin-top: 10px;
    margin-bottom: 20px;
}

.caja32{
    width: 100%;
}




/******PÁGINA 1******/
/******SECCIONES******/
/*PÁGINA INICIO*/

/*IMG LOGO*/
.logo{
    width: 25%;
}


/*MENÚ NAVEGADOR*/
.menuNav{
    width: 30%;
    overflow: auto;
    padding-top: 40px;
    padding-left: 100px;
    list-style: none;
    position: absolute;
    top: 40px;
}

.menuNav li{
    float: left;
}

.menuNav li a{
    width: 80px;
    display: block;
    text-decoration: none;
    padding: 15px 30px;
    color: purple;
    text-align: center;
}

.menuNav li a:hover{
    background: darkorchid; 
}


/*VIDEO 1-NOSOTROS*/
.video1{
    width: 650px;
    height: 280px;
}


/*VIDEO 2-RECETA*/
.video2{
    width: 900px;
    height: 340px;
}


/*LISTA BENEFICIOS*/
.beneficios{
    text-align: center;
}


/*IMAGENES CURSOS*/
.imag{
    width: 100%;
}

/*BOTONES CURSOS COTIZAR*/
#btn1{
    padding-left: 300px;
}

#btn2{
    padding-left: 300px;
}

/*PIE DE PAGINA*/
#pie1{
    padding-top: 7px;
}

#pie2{
    padding-top: 15px;
    text-align: center;
}

#fb{
    width: 15%;
    padding-top: 7px;
}

#ins{
    width: 20%;
    padding-top: 7px;
}

#ytb{
    width: 24%;
    padding-top: 7px;
}

/*PÁGINA CONTÁCTENOS*/
/*CAJAS*/
.caja3-1{
    background-color: fuchsia;
    position: static;
    width: 100%;
    height: 80%;
}   


.caja7-1{
    width: 100%;
    height: 100px;
    padding-left: 70px;
}

label{
    padding: 10px;
}

#btn{
    margin-top: 500px;
    padding-left: 150px;
}





/******PÁGINA 2******/
/******SECCIONES******/
/*PÁGINA INICIO*/
#p1{
    padding-top: 15px;
    text-align: center;
}

#p2{
    padding-top: 15px;
    text-align: center;
}


ol{
    padding-left: 130px;
}


#pa1{
    padding-left: 130px;
}

#pa2{
    padding-left: 130px;
}


#IMG1{
    width: 190px;
    width: 190px;
    padding-left: 90px;
}

#IMG2{
    width: 190px;
    width: 190px;
}

#IMG3{
    width: 18%;
}

#IMG4{
    width: 18%;
}

#IMG5{
    width: 18%;
}

/*PÁGINA CONTÁCTENOS*/

#img21-1{
    width: 50%;
    padding-left: 350px;
}


/*CAJAS*/
.caja20-1{
    width: 100%;
    padding-left: 50px;
}

.caja21-1{
    width: 100%;
    margin-bottom: 50px;
}

.caja22-1{
    width: 100%;
    text-align: center;

}

.caja23-1{
    width: 100%;
    margin-top: 30px;
    margin-bottom: 20px;
    text-align: center;
}

.caja24-1{
    width: 100%;
    padding-left: 400px;
}

.caja25-1{
    width: 100%;
    padding-left: 400px;
    margin-bottom: 40px;
}